nav.navbar.navbar-default

  .navbar-header
    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand.visible-xs(href="/") Pushka !

  #navbar-collapse.collapse.navbar-collapse
    
    ul.nav.navbar-nav
      
      li.hidden-xs(class="accueil" === page.key && "active")
        a.navbar-brand(href="/") Pushka !
      
      each entry in menu
        case entry.children.length
        
          when 0
            li(class=entry.key === page.key && "active")
              a(href=entry.url)= entry.name
          
          default
            li(class=entry.key === (page.parent && page.parent.key) && "active")
              a(href="#", data-toggle="dropdown")
                | #{entry.name}
                span.caret
              ul.dropdown-menu
                each subentry in entry.children
                  li(class=subentry.key === page.key && "active")
                    a(href=subentry.url)= subentry.name
            
        
      li
        a(href="#", data-toggle="dropdown")
          | Liens 
          span.caret
        ul.dropdown-menu
          li
            a(href="https://www.facebook.com/Pushka44", target="_blank") Facebook
          li
            a(href="https://www.youtube.com/watch?v=p0oUW32_aTE&list=PLRm7cNa23pMr1TyulEK4epcsftoUixq8h", target="_blank") YouTube
          li
            a(href="https://play.google.com/store/music/album/Pushka_Pushka?id=Byal3wbe6k5lhc5uhlrfuhowydy&hl=en_GB", target="_blank") Google Play
          li
            a(href="https://itunes.apple.com/gb/album/pushka/id1305194752", target="_blank") Apple Music
          li
            a(href="https://open.spotify.com/album/4z7f0iivO8TslaqiHjKYaK", target="_blank") Spotify
          li
            a(href="http://www.deezer.com/album/50897512", target="_blank") Deezer

    ul.nav.navbar-nav.navbar-right
      li
        a(href="mailto:contact@pushka.live") Contact
